.container {
    display: flex;
    height: fit-content;
}

.half {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 20px 20px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.illustration {
    background: #ace285;
    border-radius: 10px;
    justify-content: flex-start;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #52bc0f;
    height: 90vh;
}

.desc {
    font-size: 16px;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .half {
        flex: 0 0 100%;
        max-width: 100%;
    }
}