.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-red-color);
    max-width: 300px;
}
.error-notice button {
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--red-color);
    color: white;
    border: none;
}