.footer {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
}

.logo {
    max-width: 90px;
}

.footer-wrapper {
    display: flex;
    margin: auto;
    max-width: 1160px;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #c7c7c7;
}