.submit {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    color: white;
    background-color: #048ecf;
    max-width: 160px;
    border: none;
    border-radius: 8px;
}

.submit:hover {
    background-color: #0685bf;
}

.submit:focus {
    outline: none;
}