/* Reset */
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

/* Variables */
:root {
  --button-color: var(--green-color);
  --button-hover-color: var(--dark-green-color);
  --green-color: #52bc0f;
  --dark-green-color: #41960b;
  --dark-gray-color: #757575;
  --gray-color: #999999;
  --red-color: #df4343;
  --light-red-color: #f8d6d6;
}