.container {
    max-width: 300px;
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    margin-bottom: 50px;
    transition: transform .3s ease;
}

.container:hover {
    transform: scale(1.02);
}

.img-wrapper {
    max-width: 300px;
    max-height: 220px;
    overflow: hidden;
    object-fit: cover;
}

.img {
    max-height: 300px;
}

.info-wrapper {
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
}

.ecotrail-desc {
    margin-bottom: 15px;
    overflow: hidden;
    height: 38px;
}

.ecotrail-date {
    font-size: 14px;
    font-weight: bold;
    color: var(--gray-color);
}

.ecotrail-author {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-gray-color);
}